<section id="body_container">
  <section id="signup_right">
    <article>
      <% @lits.each do |lit| %>
        <div class="litts_layout">
        <%= lit.lit_text %>
        </div>
      <% end %>
    </article>
  </section>

  <section id="signup_left">
    <div id="profile_page_title">
    <% @users.each do |user| %>
      <%= user.full_name %>
    <% end %>
    </div>
    <div id="profile_page_following">

    </div>
    <div id="profile_page_followers">

    </div>
  </section>
</section>
